@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;800&family=Parisienne&family=Roboto&family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");


:root {
    box-sizing: border-box;
    scroll-behavior: smooth;



/* CSS Variables */
  /* Fonts */
  --ff-parisienne: "Parisienne", cursive;
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-lora: "Lora", serif;
  --ff-roboto: "Roboto", sans-serif;
  --ff-rubik-dirt: "Rubik Dirt", cursive;
  --fs-paragraphs: calc(0.8rem + 0.35vw);
  --fs-links-btns: calc(0.65rem + 0.5vw);
}


/* Global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


img {
    max-width: 100%;
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }


  span {
    color: #7c7c7c;
    padding: 0px 40px;
  }


body{
    background-color: black;
}
body,
html {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*scrollbar*/

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #484646;
    border-radius: 10px;
  }
/* header */
header img{
    width: 100vw;
    height: auto;
    /* background-image: url(../img/packages/cover/vietnam.jpg); */
    background-position: left;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    position: absolute;
    z-index: -5;
    dis
}

  /* .effect{
    background: linear-gradient(196.47deg, rgba(0, 0, 0, 0) 50.65%, #000000 99.61%);
    opacity: 0.8;
  } */
  .header-title {
    font-family: var(--ff-lora);
    letter-spacing: 0.5rem;
    color: whitesmoke;
    z-index: 1;
    padding: 4rem;
    /* margin-bottom: 150px; */
    backdrop-filter: blur(1.05);
    letter-spacing: 1px;
    /* margin-top: -380px; */
    /* font-size: 2.5rem; */
    margin-top: 130px;
  }
  /* .header-content h {
    font-size: 4vmin;
  }
   */
  
  
  .header-title h1 {
   
    margin-top: 50px;
    margin-bottom: -40px;
    text-align: start;
    font-size: 3.0rem;
  }
  .header-title p{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: start;
    font-size: 1.5rem;
    width: 50%;
    line-height: 27px;
    /* backdrop-filter: blur(2px); */
  }
  

  

  /* events */
  section {
    width: 80%;
    margin: 65px auto;
    background-color: rgb(37, 37, 37);
  }
  .title {
    text-align: center;
    font-family: var(--ff-montserrat);
    font-size: 4vmin;
    color: white;
  }

  .title h1{
    /* text-decoration: underline;
    text-decoration-color:#fc036b ; */
    border-bottom: 6px solid rgba(76, 76, 76, 0.8);
    text-align: start;
    font-size: 35px;
    padding: 23px 23px 23px 23px;
  }
  .box {
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center
  }
  
  .card {
    cursor: pointer;
    height :400px
    
  }
  
  .box .card {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 40%;
    height: 591px;
    background-color: rgb(41, 41, 41);
    background-color: #fc036b;
    border-radius: 50px;
    border: solid; */
    padding: 20px;
    flex: 1 1 0%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px 0px;
    background-color: rgb(41, 41, 41);
    /* display: flex; */
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 10px;
  } 
  
  .box .card img {
    /* width: 90%;
    padding: 28px 10px 10px 10px;
    border-radius: 50px; */
    width: 100%;
    height: 100%;
    border-radius: 17px;
    object-fit: cover;
    vertical-align: top;
  }
  /* .box .card img:hover{
    transform: scale(1.05);
    transition: 0.25s;

  } */
  .events .row {
    margin-top: 50px;
  }
  
  .card > h4 {
    font-size: calc(1rem + 0.5vw);
    margin: 20px auto;
    font-family: var(--ff-lora);
    color: white;
  }
  
  .col p {
    color: #7c7c7c;
    padding: 0px 40px;
    font-size: var(--fs-paragraphs);
    font-family: var(--ff-roboto);
  }
  
  .card > ul {
    /* color: #7c7c7c; */
    padding: 0;
    line-height: 1.5;
    text-align: start;
    max-width: 55ch;
    margin-left: 35px;
    font-size: 1.2rem;
    color: white;
    list-style: disc
  }
  
  .events .ctn {
    margin-top: 30px;
  }
.card > p{
  border-top: 1px solid rgba(151, 151, 151, 0.2);
  margin: 5px -20px;
  padding: 10px 20px 0px;
  display: flex;
  /* -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between; */
  font-size: 20px;
  color: white;
  /* min-height: 70px;
  max-height: 70px; */
    /* font-size: xx-large;
    text-align: center;
    margin-left: auto;
    margin: auto;
    font-weight: 200; */
}
/* .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.links{
  padding: 14px 10px;
  width: 80%;
    border-radius: 10px;
    box-shadow: rgba(18, 18, 18, 0.5) 0px 1px 11px 0px;
    background-color: rgb(37, 37, 37);
    display: flex;
    margin: 200px auto;
    /* -webkit-box-align: center; */
    margin-bottom: -31px;
    /* position: sticky; */
    top: 64px;
    z-index: 45;
}

.links a{
  font-size: 28px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 0px 10px;
    margin-right: 15px;
    cursor: pointer;
}
.links a:hover{
  color: #fc036b;
}

.bttn {
    font-family: var(--ff-montserrat);
    font-size: var(--fs-links-btns);
    font-weight: 700;
    padding: 13px 50px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
   
  }

.best-time h1{
 padding: 20px 10px 10px 20px ;
 color: white;
}
.best-time p{
  color: white;
    width: 100%;
    padding: 0px 20px 20px 20px;
    font-size: 20px;
}
.faqs h1{
  padding: 20px 10px 10px 20px ;
  color: white;
}
.faqs p{
  color: white;
    width: 100%;
    padding: 0px 20px 20px 20px;
    font-size: 20px;
}