@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;800&family=Parisienne&family=Roboto&family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");


:root {
    box-sizing: border-box;
    scroll-behavior: smooth;



/* CSS Variables */
  /* Fonts */
  --ff-parisienne: "Parisienne", cursive;
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-lora: "Lora", serif;
  --ff-roboto: "Roboto", sans-serif;
  --ff-rubik-dirt: "Rubik Dirt", cursive;
  --fs-paragraphs: calc(0.8rem + 0.35vw);
  --fs-links-btns: calc(0.65rem + 0.5vw);
}


/* Global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


img {
    max-width: 100%;
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }


  span {
    color: #7c7c7c;
    padding: 0px 40px;
  }


body{
    background-color: black;
}
body,
html {
  overflow-x: hidden;
  box-sizing: border-box;
}

/*scrollbar*/

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #484646;
    border-radius: 10px;
  }

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    /* background: rgba(0, 0, 0, 0.2); */
    backdrop-filter:  blur(100px);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 12px 5px;
    /* z-index: 10; */
    color: whitesmoke;
  }
  .nav-links {
    display: flex;
    align-items: center;
    word-spacing: 55px;
  }
  
 
  .nav-links li {
    font-family: var(--ff-montserrat);
    margin: 0px 15px;
  }
  
  .nav-links li a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    /* font-size: 25px; */
    padding: 6px 20px;
    font-weight: bold;
    margin: 0px -10px;
    letter-spacing: 2px;
    
  }
  .user a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    padding: 6px 20px;
    font-weight: bold;
    margin: 0px -10px;
    letter-spacing: 2px;
    font-family: var(--ff-montserrat);
    margin: 0px 15px;
  }

  .nav , .user:hover{
    color: yellow;
  }

  /* .login{
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    padding: 6px 20px;
    font-weight: bold;
    margin: 0px -10px;
    letter-spacing: 2px;
    font-family: var(--ff-montserrat);
    margin: 0px 15px;
  } */

  

  .nav-links li a:hover{
    /* color: #484646 */
    color: #fc036b;
    border-radius: 50px;
  }
  .navbar .logo1{
    /* margin-top: -25px; */
    top: 0;
    left: 0;
    position: fixed;
    width: 90px;
    display: flex;
    margin-top: 3px;
  }

  .logo {
    font-family: var(--ff-rubik-dirt);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    padding: 0 1.9rem;
    font-weight: 300;
    color: rgb(254, 252, 252); 
    text-decoration: none;
    font-stretch: 20px;
    margin-top: 20px;
    
    
  }


  /* header */
  header {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/pexels-archie-binamira-913215.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
  }
  /* .header-img {

    width: 100vw;
    height: 100vh;
    background-image: url(../img/sample3.jpg);
    background-position: center ;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
  } */
  .header-content {
    font-family: var(--ff-lora);
    letter-spacing: 0.5rem;
    color: whitesmoke;
    text-align: center;
    z-index: 1;
    padding: 4rem;
    margin-bottom: 150px;
  }
  /* .header-content a {
    letter-spacing: 0.1rem;
  } */
  
  .header-content h {
    font-size: 4vmin;
  }
  
  /* .line {
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
  } */
  
  .header-content h2 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .bttn {
    font-family: var(--ff-montserrat);
    font-size: var(--fs-links-btns);
    font-weight: 700;
    padding: 13px 50px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
   margin-top: 10px;
  }

  .bttn:hover{
    /* color: black; */
    transform: scale(1.05);
    transition: 0.75;
  }
  .bttn1 {
    font-family: var(--ff-montserrat);
    font-size: var(--fs-links-btns);
    font-weight: 700;
    padding: 13px 50px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
    margin-top: 75px;
  }

  .bttn1:hover{
    transform: scale(1.05);
    transition: 0.75;
  }
  /* .view-all {
    font-family: var(--ff-montserrat);
    font-size: var(--fs-links-btns);
    font-weight: 700;
    padding: 13px 50px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  } */
  .menu-btn {
    position: absolute;
    top: 30px;
    right: -300px;
    width: 40px;
    cursor: pointer;
  }



  /* events */
  section {
    width: 80%;
    margin: 80px auto;
  }
  .title {
    text-align: center;
    font-family: var(--ff-montserrat);
    font-size: 4vmin;
    color: white;
  }

  .title h1{
    text-decoration: underline;
    text-decoration-color:#fc036b ;
  }
  .box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center
  }
  
  .card {
    cursor: pointer;
    height :400px
  }
  
  .box .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 450px;
  } 
  
  .box .card img {
    width: 90%;
  }
  .box .card img:hover{
    transform: scale(1.05);
    transition: 0.25s;

  }
  .events .row {
    margin-top: 50px;
  }
  
  .card > h4 {
    font-size: calc(1rem + 0.5vw);
    margin: 20px auto;
    font-family: var(--ff-lora);
    color: white;
  }
  
  .col p {
    color: #7c7c7c;
    padding: 0px 40px;
    font-size: var(--fs-paragraphs);
    font-family: var(--ff-roboto);
  }
  
  .card > p {
    color: #7c7c7c;
    padding: 0;
    line-height: 1.5;
    text-align: center;
    max-width: 35ch;
  }
  
  .events .ctn {
    margin-top: 30px;
  }


  /* to be deleted */
  /* .back-img
   {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/pexels-archie-binamira-913215.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
  } */
#explore {
 width: 100%;
  height: 100vh;
  background-image: url(../img/explore.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.explore-content{
  font-family: var(--ff-lora);
  letter-spacing: 0.5rem;
  color: whitesmoke;
  /* text-align: center; */
  z-index: 1;
  padding: 4rem;
  margin-bottom: 150px;
  font-size: larger;
  /* text-decoration: underline; */
}

.explore h2{
  text-decoration: underline;
  padding-bottom: 10px;
  backdrop-filter: blur(1.5px);
  width: 50%;
  
  
}
.explore p{
  width: 50%;
  letter-spacing: 2px;
  /* color: #black; */
  backdrop-filter: blur(1.5px);
  font-weight: 100;
  line-height: 5vh;
}


/* footer */


.footer .box1{
  width: 100vw;
  /* height: 50vh; */
  background-color: #161616;
  margin-top: 10px;
  
  /* margin: 130px auto; */
}
.box1 .email{
  background-color: white;
  width:30vw;
  height: 10vh;
  padding: 30px 10px 10px 50px;
  border-radius: 50px;
  margin: 13px 10px 10px 91px;
  /* border: yellow solid 50px; */
}
.box1 .email p{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  display: flex;
  justify-content: start;
}

.email:hover{
  /* transform: scale(1.05);
  transition: ease-in-out(0.5s); */
  background-color: #fc036b;
  border: white solid 2px;
}
.box1 .phone{
  background-color: white;
  width:30vw;
  height: 10vh;
  padding: 30px 10px 10px 50px;
  border-radius: 50px;
  
  margin: 13px 10px 10px 91px;
  /* border: yellow solid 50px; */
}
.box1 .phone p{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  display: flex;
  justify-content: start;
}

.phone:hover{
  background-color: #fc036b;
  border: white solid 2px;
}

.box1 .social{
 
  margin: 14px 127px 0px 134px
}


.box1 h1{
  
  font-family: var(--ff-rubik-dirt);
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    padding: 17px 1.9rem;
    font-weight: 300;
    color: rgb(254, 252, 252); 
    text-decoration: none;
    font-stretch: 20px;
    margin-top: 20px;
    margin-left: 91px;

}
.box1 h4{
  color: white;
  font-size: 1.5rem;
  width: 45%;
  line-height: 45px;
  margin-left: 115px;
}
.box1 h2{
  font-family: var(--ff-montserrat);
  color: white;
    font-size: 2.2rem;
    margin-top: 40px;
    margin-left: 120px;
}
.social img{
  width: 4vw;
  height: 8vh;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
}
.social img:hover{
  transform: scale(1.1);
  transition: ease-in-out(0.5s);
}



.footer-bottom { padding-block: 20px; }

.footer-bottom a { color: white; }

.copyright {
  margin-bottom: 15px;
  text-align: center;
  color: white;
}

.copyright a {
  display: inline-block;
  color: white;
  font-weight: var(--fw-600);
}

.footer-bottom-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px 15px;
  margin-bottom: 15px;
}

.footer-bottom-link:is(:hover, :focus) { color: grey; }

.payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
